<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'amazingco')}">

<body>

  <h2>Move Employee</h2>

  <form th:action="@{/amazingco/move_result}" th:object="${employee}" method="post"
    class="form-horizontal" id="move-employee-form">
    	<p>Employee: <input type="text" th:field="*{employeeName}" /></p>
    	<p>To: <input type="text" th:field="*{toManager}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
  </form>
</body>
</html>
